body {
    padding-bottom: 15px;
}


.navbar {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

.hidden {
    opacity: 0;
}

.navbar.scrolled {
    background: rgb(194, 85, 85);
    transition: background 400ms;
}

#brandImage {
    height: 35px;
}

.jumbotron {
    border-bottom: 2px solid rgba(143, 34, 9, 0.2);
    border-top: 2px solid rgba(143, 34, 9, 0.2);
    height: 30%;
    background-image: url("../assets/images/jumbotron_bg.png");
    background-size: cover;
    min-height: 30vh;
}

.main {
    height: 100vh;
    background-image: url('../assets/images/jumbotron-bg.png');
    background-size: cover;

}

#mainDetails {
    width: 200px;
    height: 30%;
}

.workTitle {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    color: #e5e5e5;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.iconify {
    width: 24px;
    height: 24px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.navbar.scrolled #github {
    color: #fff;
}

.navbar.scrolled a:hover #github {
    color: #333;
}

.navbar.scrolled #upwork {
    color: #fff;
}

.navbar.scrolled a:hover #upwork {
    color: #333;
}

.navbar.scrolled #linkedIn {
    color: #fff;
}

.navbar.scrolled a:hover #linkedIn {
    color: #333;
}

#github {

    color: #9452F7;
}

a:hover #github {
    color: #F6F6F6;
}

#upwork {
    color: #37A000;
}

a:hover #upwork {
    color: #6FDA44;
}

#linkedIn {
    color: #1977B5;
}

a:hover #linkedIn {
    color: #1f9ede;
}

#stackContainer {
    padding-right: 50px;
    padding-left: 50px;
}

.row i {

    font-size: 5em;
    color: #fff
}

.stackIcon {
    padding-top: 15px;
    padding-bottom: 15px;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%
}

.carousel-inner {
    background-color: #863a31;
    border: 2px solid rgba(82, 0, 0, 0.589);
}

.portfolioImg {
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

#carouselStack {
    padding-bottom: 60px;
}

#projects {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}

.divider {
    width: 200px;
    height: 2px;
    background-color: #623733;
}

.sectionTitle {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 2rem;
    color: #24292E;
}

.projectCard {
    background-color: #f6f6f6;
    min-height: 325px;
}

.projectTitle {
    font-family: 'Raleway';
    font-size: 1.75rem;
    font-weight: 500;
}

.projectStack {
    font-family: 'Raleway';
    font-size: .9rem;
    font-weight: 200;
}

.projectInfoBtn {
    width: 35%;
    z-index: 1;
    opacity: 0;
}